%% == Erlang Compiler ==

{erl_opts, [debug_info, warnings_as_errors]}.

%% == Cover ==

{cover_enabled, true}.

%% == Dependencies ==

{deps, [
  {sumo_db, {git, "https://github.com/inaka/sumo_db.git", "01db604"}},
  {riakc, {
    git, "https://github.com/inaka/riak-erlang-client.git", {tag, "2.1.1-R18"}}
  },
  {iso8601, {git, "https://github.com/zerotao/erlang_iso8601.git", "0d14540"}}
]}.
